{% extends 'AppBundle::layout_admin.html.twig' %}

{% block content %}
    <ul>
        <li>
            <a href="{{path('category')}}">Категории</a>
        </li>
        <li>
            <a href="{{path('extra_fields')}}">Дополнительные поля</a>
        </li>
        <li>
            <a href="{{path('good')}}">Товары</a>
        </li>
        <li>
            <a href="{{path('xml_download')}}">XML выгрузка</a>
        </li>
    </ul>
        
{% endblock %}